@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
--cor-de-fundo:#ff56b9;
--roxo: #cc62f7;
--branco:#ffffff;
--botao-ativo:#267ff3;
--botao-inativo:#fc49b76b;
}

body{
    background-color: var(--cor-de-fundo);
    color:var(--branco);
   font-family:'PT Serif' ; 

}
.botao{
    font-family:'PT Serif' ;
    background-color: var(--botao-inativo);
    color: var(--branco);
    font-size: 18px;
    padding: 1em;

}
.titulo-principal{
    font-size: 32px;
}
