@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
--cor-de-fundo:#ff56b9;
--roxo: #cc62f7;
--branco:#ffffff;
--botao-ativo:#267ff3;
--botao-inativo:#89d4ff;
}

body{
    background-color: var(--cor-de-fundo);
    color:var(--branco);
    font-family: 'PT Serif';
}
